# Database config
DB_NAME={DB_NAME}
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD} 
DB_HOST={DB_HOST}
DB_PORT={DB_PORT}

# PostgreSQL env keys
POSTGRES_DB={POSTGRES_DB}
POSTGRES_USER={POSTGRES_USER}
POSTGRES_PASSWORD={POSTGRES_PASSWORD}

# Project env variables
SECRET_KEY={SECRET_KEY}
DEBUG={TRUE/FALSE}
ALLOWED_HOSTS={ALLOWED_HOSTS}